$amarillo: rgb(251, 255, 2);
$verde: #0e5307;
$rojo: #f86565;
$grisclaro: #DFDFDF;
$blanco: #fff;
$negro: #000;

@mixin margenes($top, $botton){
    margin-top: $top;
    margin-bottom: $botton;
}

@mixin padd($arriba, $derecha, $abajo, $izquierda){
    padding: $arriba $derecha $abajo $izquierda
}

.jumbotron {
    background-color: $amarillo;
    color: $negro;
    @include margenes(50px, 0px);
    @include padd(0px, 0px, 0px, 0px);
    text-align: center;
}
.card-curso {
    flex: 1 200px;
    @include padd(2px, 0px, 2px, 5px);
    @include margenes(10px, 0px);
}
.btn-reserva {
    width: 100%;
    border-radius: 0px;
}
body {background: $grisclaro}
.activate {
    font-weight: bold;
}
.btn-primary {
    color: $blanco;
    background-color: $verde;
    border-color: $verde;
}
footer {
    @include padd(10px, 10px, 10px, 0px);
    background-color: $amarillo;
    @include margenes(10px, 0px);
}
a {
    color:  $grisclaro;
}
li a {
    color: $rojo;
}