.jumbotron {
  background-color: #fbff02;
  color: #000;
  margin-top: 50px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
  text-align: center; }

.card-curso {
  flex: 1 200px;
  padding: 2px 0px 2px 5px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

body {
  background: #DFDFDF; }

.activate {
  font-weight: bold; }

.btn-primary {
  color: #fff;
  background-color: #0e5307;
  border-color: #0e5307; }

footer {
  padding: 10px 10px 10px 0px;
  background-color: #fbff02;
  margin-top: 10px;
  margin-bottom: 0px; }

a {
  color: #DFDFDF; }

li a {
  color: #f86565; }
